#def title
This document has not defined its title
#end def
#def body
this document has not defined its body
#end def
<HTML>
<STYLE>$css</STYLE>
<script type="text/javascript">$js</script>
<HEAD><TITLE>$title</TITLE></HEAD>
<BODY>
$body
</BODY>
</HTML>
